<div class="layoutVertical">
    <h2 class="title">
        Creer une accréditation
    </h2>
    <div class="layoutHorizontal">
        <div class="inputContainer">
            <select name="issuerSelection" id="issuerSelection"></select><label for="issuerSelection">L'identifieur</label>
        </div>
        <div class="inputContainer">
            <select name="subjectSelection" id="subjectSelection"></select><label for="subjectSelection">Le sujet</label>
        </div>
    </div>
    <div class="layoutHorizontal">
        <div class="inputContainer">
            <input type="text" id="subjectStatusInput"required/><label>Statut du sujet</label>
        </div>
        <div class="inputContainer">
            <input type="datetime-local" id="expirationDateInput"/><label class="onTop">Date d'expiration</label>
        </div>
    </div>
    <div class="layoutHorizontal validationButtonContainer">
        <button type="button" class="cancelButton" onclick="modal.close()">Annuler</button>
        <button type="button" onclick="currentModule.createCredential()">Creer l'accréditation</button>
    </div>
</div>
