<div class="layoutVertical">
    <h2 class="title">
        Creer votre profil
    </h2>
    <div class="inputContainer layoutHorizontal">
        <input type="text" name="didAlias" id="didAlias" required/><label for="didAlias">Nom du profil</label>
    </div>
    <div class="layoutHorizontal validationButtonContainer">
        <button type="button" class="cancelButton" onclick="modal.close()">Annuler</button>
        <button type="button" onclick="currentModule.createDid()">Creer le profil</button>
    </div>
</div>