<div id="containerCredentials" class="layoutHorizontal">
    <select name="DIDSelection" id="DIDSelection">
    </select>
    <button type="button" onclick="currentModule.createCredentialModal()">Créer une accréditation</button>
</div>
<table id="credentials" class="dataContainer">
    <tr>
        <th>ID accréditation</th>
        <th>Nom du sujet</th>
        <th>Organisation</th>
        <th>Type</th>
        <th>Date de création</th>
        <th>Date d'expiration</th>
        <th>Valide</th>
        <th></th>
    </tr>
</table>