<div class="layoutHorizontal">
    <div class="element" id="did_dashboard"><span class="counter">0</span> Did crée(s)</div>
    <div class="element" id="credential_dashboard"><span class="counter">0</span> Credentials crée(s)</div>
</div>