<div id="container" class="layoutHorizontal"><button type="button" onclick="currentModule.createDIDModal()">Créer un DID</button></div>
<table id="dids" class="dataContainer">
    <tr>
        <th>Profils</th>
        <th>provider</th>
        <th>DID</th>
        <th>nombre de Credentials</th>
        <th></th>
    </tr>
</table>
